name: Release

permissions:
  contents: write 
on:
  workflow_run:
    workflows: [ "CI-iOS" ]
    types:
      - completed
  push:
    branches: [ main ]
jobs:
  release:
    if: ${{ github.event.workflow_run.conclusion == 'success' }}
    runs-on: ubuntu-latest
    timeout-minutes: 10
    steps:
    - uses: actions/checkout@v4
      with:
        fetch-depth: 0 
    - name: Generate Release and Tag
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      run: | 
        chmod +x ./generate-release-tag.sh 
        ./generate-release-tag.sh minor
  
