name: Release

# Controls when the action will run. 
# Triggers the workflow on push events but only for the master branch.
permissions:
  contents: write 
on:
  push:
    branches: [ main ]
jobs:
  release:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    steps:
    - uses: actions/checkout@v4
      with:
        fetch-depth: 0 
    - name: Generate Release and Tag
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      run: | 
        chmod +x ./generate-release-tag.sh 
        ./generate-release-tag.sh minor
  
